numpy==1.19.5
gensim==3.8.3
sanic==20.9.1
annoy==1.17.0
elasticsearch==7.11.0
faiss_cpu==1.6.3
jieba==0.42.1
python_Levenshtein==0.12.2
scikit_learn==0.24.1
sentence_transformers==0.3.0
xlrd==2.0.1
transformers==3.0.2
